{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container mt-5 pt-5 color-text">
        <div class="row">
            <div class="col-4">
                <img src="{{ details.primaryImage.url }}" class="cover-large">
            </div>
            <div class="col-8">
                <h1 class="text-center pb-5">{{ details.titleText.text }}</h1>
                <h2>Synopsis</h2>
                <p>{{ details.plot.plotText.plainText }}</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block sectiontitle %}Search results{% endblock %}