{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="d-flex flex-wrap justify-content-center mt-5 results">
        {% for series in results %}
            {% if series.primaryImage is not null %}
                <figure>
                    <figcaption>{{ series.titleText.text }}</figcaption>
                    <a href="{{ path('series', {'list': 'search', 'apiId': series.id}) }}">
                        <img src="{{ series.primaryImage.url }}" class="mx-5 mb-4 mt-2 cover">
                    </a>
                </figure>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block sectiontitle %}Search results{% endblock %}