{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="filmotek-title filmotek-font">
        <span class="material-icons filmotek-logo">local_movies</span>
        Filmotek
    </div>
{% endblock %}
{% block sectiontitle %}Search{% endblock %}