{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="filmotek-title filmotek-font">
        <img src="{{ asset('img/logo.png') }}" class="filmotek-search-logo">
        Filmotek
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row search-form">
            <div class="col" style="align-content: center">
                {{ form(form) }}
                {% if app.session.get('jwt') != null %}
                    <a class="btn btn-form" role="button" href="{{ path('recommendation') }}">
                        Give me a recommendation
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block sectiontitle %}Search{% endblock %}