{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="filmotek-title filmotek-font">
        <span class="material-icons filmotek-logo">local_movies</span>
        Filmotek
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row search-form">
            <div class="col" style="align-content: center">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block sectiontitle %}Search{% endblock %}